# Yash Kadav | yashkadav52@gmail.com
services:
  db:
    image: mysql:8.0
    container_name: training-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - training-net

  api-gateway:
    build: ./api-gateway
    ports:
      - "8090:8090"
    networks:
      - training-net

  course-service:
    build: ./course-service
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/course_db
    depends_on:
      - db
    networks:
      - training-net

  enrollment-service:
    build: ./enrollment-service
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/enrollment_db
    depends_on:
      - db
    networks:
      - training-net

  schedule-service:
    build: ./schedule-service
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/schedule_db
    depends_on:
      - db
    networks:
      - training-net

  timetable-service:
    build: ./timetable-service
    ports:
      - "8084:8084"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/training_management_db
    depends_on:
      - db
    networks:
      - training-net

  user-service:
    build: ./user-service
    ports:
      - "8085:8085"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/user_db
    depends_on:
      - db
    networks:
      - training-net

networks:
  training-net: