server:
  port: 8090

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**, /api/auth/**

        - id: course-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/courses/**

        - id: schedule-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/schedule/**

        - id: enrollment-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/enrollments/**

        - id: timetable-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/timetable/**